In [1]:
#List comprehension
#Simpler and intuitive way to complete and interate lists...

my_list = [1,2,3,4,5]
my_new_list = []

for i in my_list:
    my_new_list.append(i) 

my_new_list = [i for i in my_list] #I an putting i in my_new_list - remember, "i" can be called anything

In [4]:
#List comprehension
#Simpler and intuitive way to complete and interate lists...

my_list = [1,2,3,4,5]
my_new_list = []

for i in my_list:
    my_new_list.append(i*i) 

my_new_list = [i*i for i in my_list] #I an putting i in my_new_list - remember, "i" can be called anything

In [5]:
my_new_list

[1, 4, 9, 16, 25]

In [8]:
#List comprehension
#Simpler and intuitive way to complete and interate lists...

my_list = [1,2,3,4,5]
my_new_list = []

for i in my_list:
  if i % 2 == 0:
    my_new_list.append(i) 

my_new_list = [i for i in my_list if i % 2 == 0] #I an putting i in my_new_list - remember, "i" can be called anything
#for every element in my list append it to my list if it is divisible by 2

In [9]:
def square_root(number):
    return number ** 0.5
my_list = [1,4,9,16,25]

my_new_list = [square_root(i) for i in my_list]

In [11]:
my_new_list

[1.0, 2.0, 3.0, 4.0, 5.0]

In [12]:
my_list = [[1,8], [2,3],[3,17]]

In [14]:
my_new_list = [i[0] for i in my_list] #Return the first element in each list

In [15]:
my_new_list

[1, 2, 3]

In [16]:
#Extract first element in list - the one that had the highest second element (in this case 3,17)

my_new_list = [i[0] for i in my_list if i[1] == max(i[1] for i in my_list)] 
#First element for i in my list if i[1] the second element is equal to the maxiumum 
#Of all of those second elements for i in my list

In [17]:
my_new_list #This gives 3, as 17 is the highest second element in the my_list above

[3]